.container {
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  background-color: black;
}

@media (min-width: 400px) {
  .container {
    padding: 5rem;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: white;
  text-decoration: none;
  padding: 1rem 0;
  font-size: 1.25rem;
  font-weight: 300;
  /* text-align: center; */
}

@media (min-width: 400px) {
  .title a {
    font-size: 1.5rem;
  }
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  color: white;
  margin: 0;
  line-height: 1.5;
  font-size: 1.5rem;
  font-weight: 400;
}

@media (min-width: 400px) {
  .title {
    font-size: 2rem;
  }
}

.title,
.description {
  text-align: left;
}

.description {
  line-height: 1.5;
  font-size: 1rem;
  color: white;
}

@media (min-width: 400px) {
  .description {
    font-size: 1.5rem;
  }
}

.description a {
  display: block;
  transition: 0.2s;
  font-size: 1.2rem;
  margin-top: 0 20px;
}

@media (min-width: 400px) {
  .description a {
    font-size: 1.5rem;
  }
}

.description a svg {
  margin-left: 5px;
  height: 20px;
  width: 20px;
  color: white;
}

.description a:hover {
  padding-left: 5px;
  transition: 0.2s;
}

.playButtonLink {
  margin: 30px 0;
  padding: 10px;
  width: 100%;
  border: solid 1px white;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  font-size: 1.5rem;
}

@media (min-width: 400px) {
  .playButtonLink {
    width: 100px;
  }
}

.playButtonLink:hover {
  border: solid 1px black;
  color: black;
  background-color: white;
  transition: 0.2s;
  text-decoration: none;
  margin-left: 5px;
}

.playButtonLink:focus {
  border: solid 1px black;
  color: black;
  background-color: white;
  transition: 0.2s;
  text-decoration: none;
}
