.container {
  min-height: 100vh;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: black;
  flex-direction: column;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
  max-width: 36rem;
  padding: 0 1.5rem;
  text-align: center;
}
